{% extends '_base.html' %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        {% if form.errors %}
            <p>{{ form.errors }}</p>
        {% endif %}

        <h2>Your phone number: {{ user_mobile }}</h2>
        <hr>
        {% if messages %}
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        {% endif %}
        {{ verification_form.as_p }}

        <button type="submit">Verify</button>
    </form>
{% endblock %}